.post_detail {
    background: white;
    padding: 30px 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
}

.post_detail:hover {
    transform: scale(1.02);
}

.post_detail img {
    width: 100%;
    max-width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.post_detail h2 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.post_detail .tags {
    margin-bottom: 1.2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8em;
}

.tags span {
    font-weight: bold;
}

.createdby {
    font-style: italic;
    color: #444;
    font-size: 0.8em;
    margin-bottom: 1em;
}
