.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_preview_modal {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 25px;
    background-color: #353535;
    color: #fff;
}

.image_preview_modal > div {
    display: flex;
    justify-content: space-between;
}

.image_preview_modal .close_icon {
    cursor: pointer;
    transition: 0.2s;
}

.image_preview_modal .close_icon:hover {
    color: #dc3545;
}

.image_preview_modal img {
    max-width: 100%;
}
